<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/CodeGuide"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.W3school"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".signup"
            android:exported="false" />
        <activity
            android:name=".SqlPracticeActivity"
            android:exported="false" />
        <activity
            android:name=".SqlModuleActivity"
            android:exported="false" />
        <activity
            android:name=".PythonPracticeActivity"
            android:exported="false" />
        <activity
            android:name=".PythonModuleActivity"
            android:exported="false" />
        <activity
            android:name=".JsPracticeActivity"
            android:exported="false" />
        <activity
            android:name=".JsModuleActivity"
            android:exported="false" />
        <activity
            android:name=".CssPracticeActivity"
            android:exported="false" />
        <activity
            android:name=".CssModuleActivity"
            android:exported="false" />
        <activity
            android:name=".HtmlPracticeActivity"
            android:exported="false" />
        <activity
            android:name=".HtmlModuleActivity"
            android:exported="false" />
        <activity
            android:name=".SqlActivity"
            android:exported="false" />
        <activity
            android:name=".PythonActivity"
            android:exported="false" />
        <activity
            android:name=".JsActivity"
            android:exported="false" />
        <activity
            android:name=".CssActivity"
            android:exported="false" />
        <activity
            android:name=".HtmlActivity"
            android:exported="false" />
        <activity
            android:name=".DropdownMenuActivity"
            android:exported="false" />
        <activity
            android:name=".login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>